*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    background-color:#469b31;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#header1 {
    position:fixed;
    z-index:1000;
    top:0px;
    left:0px;
    right:0px;
    height: 90px;
    margin:0px;
    background-color:#4e5a62;
    box-shadow: 1px 1px 3px 1px rgb(78, 78, 78, 0.2);
}

.center {
    flex-wrap: wrap;
    display: flex;
    height:100%;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    padding: 0px 40px;
}

.logo {
    height:50px;
}

.menu{
    display: flex;
    align-items: center;
    height:100%;
}

.menu a:hover {
    color:#46a850;
    text-decoration: underline;
}


.headertxt {
    color:white;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left:50px;
}

.content {
    margin-top: 90px;
    padding: 20px 0px;
    height:min-content;
    width:100%;
    background-image: url(fundo\ reciclagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenttxt {
    font-size: 80%;
    margin: 70px 45% 70px 70px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #283741c7;
    border-radius: 20px;
    padding:40px;
}

.contenttxt:hover{
    box-shadow: 5px 5px 5px 5px #4d4d4d1f;
    background-color: #283741e5;
}

@media only screen and (max-width: 1000px) {
    .contenttxt {
        margin-right:70px;
    }
    #header1{
        height: 75px;
    }
    .logo {
        height:35px;
    }
    .content {
        margin-top: 75px;
    }
}

@media only screen and (max-width: 500px) {
    .menu{
        display:none;
    }
    .center {
        justify-content:center;
    }
}

.content2txt {
    color:#41a846;
	background-color:white;
    font-size: 48px;
    padding:10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#recicleHelp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	background-color:white;
    height:fit-content;
    width:100%;
}

.recicleItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:80px;
    width:19%;
    min-width: 150px;
    margin: 10px 10px 10px 0px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px rgb(78, 78, 78, 0.2);
}

.recicleItem:hover {
    box-shadow: 2px 2px 2px 2px #dddddd1f;
    border: 2px solid #41a846;
    border-radius: 6px;
}

.recicleItemtxt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#tipForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	align-items: center;
	background-color:white;
    width:100%;
    padding: 20px 0px;
}

.formtxt {
    margin: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: #024906;
}

.formselect {
    background-color:#e9e9e9;
    border-color: #024906;
    border-radius: 5px;
    height:40px;
    width:200px;
    text-align: center;
}

.formtxtarea {
    background-color:#e9e9e9;
    border-color: #024906;
    border-radius: 5px;
    height:40px;
    width:400px;
    text-align: center;
}

.formbtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #41a846;
    border-color: #024906;
    border-radius: 5px;
    margin: 10px 20px;
    width:120px;
    height:40px;
}

.formbtn:hover {
    background-color: #3ece45;
    border-color: grey;
    color:white;
}

#tipsList {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
    justify-content: center;
    color:white;
    background-color: white;
    text-decoration: none;
    height:min-content;
    width:100%;
}

#tipsList li{
    text-align: center;
    min-width:40%;
    margin:5px 10px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#filterTips {
    color:white;
    text-decoration: none;
    height:min-content;
    width:100%;
}

#filterTips li{
    text-align: center;
    margin:20px 80px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.papel {
    background-color: rgb(9, 81, 148);
}
  
li.plastico {
    background-color: rgb(146, 17, 17);
}
  
li.vidro {
    background-color: rgb(39, 107, 12);
}
  
li.metal {
    background-color: rgb(167, 164, 18);
}
  
li.organico {
    background-color: rgb(100, 58, 9);
}

.delete-button{
    background-color: #ffffff;
    position: relative;
    border-radius:17px;
    width:40px;
    height:40px;
    margin: 10px;
}

.delete-button:hover{
    background-color: red;
    border-color: white;
}

#filterBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	align-items: center;
	background-color:white;
    width:100%;
    padding: 20px 0px;
    text-align: center;
	align-items: center;
}

#materialFilter{
    background-color:#e9e9e9;
    border-color: #024906;
    border-radius: 5px;
    height:40px;
    width:200px;
    text-align: center;
	align-items: center;
}

#filterBtn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #41a846;
    border-color: #024906;
    border-radius: 5px;
    width:120px;
    height:40px;
    margin-left: 20px;
}

.horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#41a846;
    background-image:url("Fundo Papel.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:top;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.content3txt {
    font-size: 48px;
    padding-top:10px;
    width:100%;
}

#verHorariosBtn {
    background-color: #41a846;
    border-color: #024906;
    border-radius: 5px;
    width:120px;
    height:40px;
    margin: 10px;
}

#collectionTimesList {
    background-color: #41a846c5;
    color:white;
    border-radius: 20px;
    padding:30px 40px;
    margin:10px 20px 20px 20px;
    box-shadow: 2px 2px 4px 2px rgb(78, 78, 78, 0.2);
    text-decoration: none;
    display: none;
}

#collectionTimesList:hover{
    background-color: #41a846e0;
}

#footer1 {
    position:relative;
    z-index:1000;
    bottom:0px;
    left:0px;
    right:0px;
    height: 50px;
    margin:20px 100px;
    background-color:#469b31;
    display: flex;
    flex-wrap: wrap;
	justify-content:space-evenly;
    align-content: center;
	align-items: center;
}

.logoFoot {
    height:30px;
    margin: 0px 20px;
}

.footertxt {
    color:#f0f0f0;
    text-decoration:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80%;
    font-weight:300;
    margin: 0px 20px;
    white-space:nowrap;
}


